<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="OutputHelper" class="com.sainsbury.dao.OutputHelper">
		<property name="scrapeHtmlData" ref="ScrapeHtmlDataImpl" />
		<property name="jsonService" ref="JsonServiceImpl" />
	</bean>
	
	<bean id="ScrapeHtmlDataImpl" class="com.sainsbury.service.impl.ScrapeHtmlDataServiceImpl" />
	<bean id="JsonServiceImpl" class="com.sainsbury.service.impl.JsonServiceImpl" />
		

</beans>